##### Arquivo de configuração do banco de dados
/model/database.ini
/model/database.php
##### Arquivo temporario do pgmodeler
/pgmodeler/database_model_fixed.dbm
/pgmodeler/database_model2.dbm
/pgmodeler/database_model - Copia.dbm
/pgmodeler/database_model.old.dbm
##### Arquivo temporario do vscode
/.vscode/
##### Em desenvolvimento
cratedb.php